@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
}
header img {
  padding: 30px 0;
}
header .list-inline {
  list-style-type: none;
  font-size: 28px;
}
header .list-inline li {
  display: inline-block;
  padding: 20px 10px;
  margin: 0 5px;
}
header .list-inline li:hover {
  background-color: #B2E5FC;
  cursor: pointer;
}
header .list-inline li.active {
  background-color: #B2E5FC;
}
header .list-inline li a {
  color: black;
}

main {
  background-image: url("/img/fondo-pag-speciali.jpg");
  background-repeat: repeat-y;
  padding: 60px 0;
}
main h2 {
  color: #163776;
  font-size: 32px;
}
main .card-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
main .card-container .card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
main .card-container .card img {
  width: 100%;
  display: block;
}

footer {
  padding: 60px 0;
  color: #848D9B;
  display: flex;
}
footer .col {
  width: calc(100% / 3 - 10px);
  margin: 10px 5px;
}
footer .col h3 {
  font-size: 24px;
}
footer .col ul {
  list-style-type: none;
  font-size: 18px;
}
footer .col a {
  color: inherit;
}
footer .col .link-list li {
  padding: 5px 0;
}
