@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: center;
}
header img {
  padding: 30px 0;
  display: inline-block;
}
header #hamburger-icon {
  display: none;
}
header .list-inline {
  list-style-type: none;
  font-size: 28px;
  display: block;
}
header .list-inline li {
  display: inline-block;
  padding: 20px 10px;
  margin: 0 5px;
}
header .list-inline li:hover {
  background-color: #B2E5FC;
  cursor: pointer;
}
header .list-inline li.active {
  background-color: #B2E5FC;
}
header .list-inline li a {
  color: black;
}

@media only screen and (max-width: 950px) {
  header #hamburger-icon {
    display: block;
    padding-bottom: 15px;
    color: #163776;
  }
  header .list-inline {
    display: none;
  }
}
.container-lg {
  background-image: url("/img/fondo-pag-speciali.jpg");
  background-repeat: repeat-y;
  padding: 60px 0px 30px 0;
}
.container-lg h2 {
  color: #163776;
  font-size: 32px;
}
.container-lg .card-container {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.container-lg .card-container .card {
  width: calc(100% / 3 - 10px);
  margin: 5px;
}
.container-lg .card-container .card img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 480px) {
  main .card-container .card {
    width: 100%;
  }
}
@media only screen and (max-width: 950px) and (min-width: 481px) {
  main .card-container .card {
    width: calc(100% / 2 - 10px);
  }
}
.carousel {
  position: relative;
}
.carousel .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.carousel .slide img {
  width: 100%;
}

footer {
  background-image: url("/img/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}
footer .footer-content {
  padding: 60px 0;
  color: #848D9B;
  display: flex;
}
footer .footer-content .col {
  width: calc(100% / 3 - 10px);
  margin: 10px 5px;
}
footer .footer-content .col h3 {
  font-size: 24px;
  margin-bottom: 20px;
}
footer .footer-content .col ul {
  list-style-type: none;
  font-size: 18px;
  margin-bottom: 20px;
}
footer .footer-content .col a {
  color: inherit;
}
footer .footer-content .col .link-list li {
  padding: 5px 0;
}

@media only screen and (max-width: 950px) {
  footer .footer-content {
    flex-direction: column;
  }
  footer .footer-content .col {
    width: 100%;
  }
}
