main {
    background-image: url("/img/fondo-pag-speciali.jpg"); 
    .container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        .card {
            width: calc(100% / 3 - 10px);
            margin: 5px;
            img {
                width: 100%;
                display: block;
            }
        }
    }
}